%section.block#extras
  %article.block-content.mb-5
    %header.mb-3.mt-4
      .d-flex.flex-row.align-items-center
        %h4.m-0
          Extras
          %hr{ style: "width:3rem;" }

    = react_component "VariantBlock",
      variants: serialize(product.extras, each_serializer: VariantSerializer).as_json
