.dropzone-area {
  min-height: 90px;
  border: 2px solid $gray-lighter;
  border-radius: 5px;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all;
  background: $gray-lightest;
  &:hover {
    cursor: pointer;
    background: white;
    i.pending {
      border-color: $orange;
      color: $orange;
    }

  }

  i {
    font-size: 2.5rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 100%;
    color: $gray-lighter;
    border: 3px solid $gray-lighter;

    //font isnt monospaced so is annoying to center
    padding-left: 0.2em;
    padding-right: 0.13em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .rc-progress-circle  {
    height: 60px;
    width: 60px;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(235, 235, 235, 0);
    opacity: 0;
    transition: 0.2s all;

    &:hover {
      background: rgba(235, 235, 235, 0.6);
      opacity: 1;
    }
  }
}
